This notebook combines the individual model's rating to form a unified model which performs better. The ratings from individual models are combined using a weighted linear combination to form a resultant rating. This method helps overcome the shortcomings of individual method. \\
The ratings are those generated using surprise library.

In [ ]:
import pandas as pd
import numpy as np
import math

In [ ]:
pred_data = pd.read_csv('test_prediction_HP.csv')
pred_data.head()

   Unnamed: 0  uid     iid  ...  svdpp_rating  slopeone_rating  baseline_rating
0           0  610  163981  ...      3.538527         3.501078         3.603256
1           1  610  162350  ...      3.323570         2.752871         3.601820
2           2  610  161582  ...      3.836845         4.253110         3.760107
3           3  610  159093  ...      3.499436         3.737276         3.728456
4           4  610  156726  ...      3.004246         1.850029         3.439723

[5 rows x 9 columns]

In [ ]:
# pred_data = pred_data.drop(169639)

In [ ]:
# num of rows:
T = pred_data.shape[0]
print(T)

20168

In [ ]:
svd_wt = 0.05
knn_wt = 0.6
svdpp_wt = 0.4
slopeone_wt = 0
baseline_wt = 0

In [ ]:
rmse = ((pred_data.og_rating - pred_data.knn_rating) ** 2).mean() ** .5
print(rmse)
mae = (((pred_data.og_rating - pred_data.knn_rating) ** 2) ** .5).mean()
print(mae)

0.8527048407985283
0.64818310503639

In [ ]:
rmse = ((pred_data.og_rating - pred_data.svdpp_rating) ** 2).mean() ** .5
print(rmse)
mae = (((pred_data.og_rating - pred_data.svdpp_rating) ** 2) ** .5).mean()
print(mae)

0.8668435463304792
0.6611243052231001

In [ ]:
sqr_sum = 0
abs_sum = 0

for ind, row in pred_data.iterrows():
  org_r = row['og_rating']
  pred_r = svd_wt*row['svd_rating'] + knn_wt*row['knn_rating'] + svdpp_wt*row['svdpp_rating'] + slopeone_wt*row['slopeone_rating'] + baseline_wt*row['baseline_rating']
  diff = np.abs(org_r - pred_r)
  # print(diff)
  abs_sum += diff
  sqr_sum += diff**2

rmse = np.sqrt(sqr_sum/T)
print("RMSE", rmse)
mae = abs_sum/T
print("MAE", mae)

RMSE 0.8440081164615088
MAE 0.6426598370928285